/* Tags Generals CSS */
html {
  font-size: 16px;
}

body {
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
}

/** CSS Material Icons ***/
/** CSS Typography **/
/** 
* heading typography
* [description]
 * Heading 1: 28px
 * Heading 2: 24px
 * Heading 3: 22px
 * Heading 4: 20px
 * Heading 5: 18px
 * Heading 6: 14px
**/
h1, .bp-h1 {
  font-size: 1.75rem;
}

h2, .bp-h2 {
  font-size: 1.5rem;
}

h3, .bp-h3 {
  font-size: 1.375rem;
}

h4, .bp-h4 {
  font-size: 1.25rem;
}

h5, .bp-h5 {
  font-size: 1.125rem;
}

h6, .bp-h6 {
  font-size: 0.875rem;
}

h1, h2, h3, h4, h5, h6 .bp-h1,
.bp-h2, .bp-h3, .bp-h4, .bp-h5, .bp-h6 {
  font-weight: bold;
  color: #0079C0;
}

/***  end typography heading size **/
/** 
* typography colors
**/
.bp-color_black {
  color: #000;
}

.bp-color_danger {
  color: #eb4d4b;
}

.bp-color_white {
  color: #fff;
}

.bp-color_primary {
  color: #0079C0;
}

.bp-color_cyan-dark {
  color: #00548C;
}

.bp-color_navy {
  color: #00335B;
}

.bp-color_secondary {
  color: #00335B;
}

.bp-color_grey-dark {
  color: #333333;
}

.bp-color_grey-medium {
  color: #919295;
}

.bp-color_grey-light {
  color: #F1EFEB;
}

/*** end typography colors **/
/*** typography colors with !important **/
.bp-color_black--important {
  color: #000 !important;
}

.bp-color_danger--important {
  color: #eb4d4b !important;
}

.bp-color_white--important {
  color: #fff !important;
}

.bp-color_primary--important {
  color: #0079C0 !important;
}

.bp-color_cyan-dark--important {
  color: #00548C !important;
}

.bp-color_navy--important {
  color: #00335B !important;
}

.bp-color_secondary--important {
  color: #00335B !important;
}

.bp-color_grey-dark--important {
  color: #333333 !important;
}

.bp-color_grey-medium--important {
  color: #919295 !important;
}

.bp-color_grey-light--important {
  color: #F1EFEB !important;
}

/*** end typography colors with !important **/
/*** size typography ***/
.bp-font-size_14 {
  font-size: 0.875rem;
}

.bp-font-size_16 {
  font-size: 1rem;
}

.bp-font-size_18 {
  font-size: 1.125rem;
}

.bp-font-size_20 {
  font-size: 1.25rem;
}

.bp-font-size_22 {
  font-size: 1.375rem;
}

.bp-font-size_24 {
  font-size: 1.5rem;
}

.bp-font-size_32 {
  font-size: 2rem;
}

.bp-font-size_36 {
  font-size: 2.25rem;
}

.bp-font-size_48 {
  font-size: 3rem;
}

.bp-h1 {
  margin-top: 0;
}

/*** end size typography ***/
/** label component **/
label {
  font-weight: bold;
  font-size: 0.875rem;
}

/** end label component **/
/** etiquetas de enlace **/
a {
  color: #0079C0;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #002949;
}
a:visited {
  color: #00548C;
}

/** end etiquetas de enlace **/
/* elementos de texto html 5*/
mark {
  background-color: #ECF6FF;
}

blockquote {
  padding: 1.5rem;
  background-color: #ECF6FF;
  border: 1px solid #BFDDF1;
}

/** end elementos de texto html 5**/
/** 
* alerts component
**/
.bp-alert, .alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.bp-alert-icon {
  vertical-align: middle;
}
.bp-alert-icon .material-icons {
  margin-right: 0.2rem;
  font-size: 1.4rem;
  display: inline-block;
  vertical-align: middle;
}

.bp-alert-primary,
.alert-primary {
  background-color: #90d6ff;
  border-color: #20adff;
  color: #001826;
}
.bp-alert-primary a,
.alert-primary a {
  color: #001826;
}
.bp-alert-primary a:hover, .bp-alert-primary a:focus,
.alert-primary a:hover,
.alert-primary a:focus {
  color: #004973;
}

.bp-alert-secondary,
.alert-secondary {
  background-color: #6cbfff;
  border-color: #0079d9;
  color: #000a12;
}
.bp-alert-secondary a,
.alert-secondary a {
  color: #000a12;
}
.bp-alert-secondary a:hover, .bp-alert-secondary a:focus,
.alert-secondary a:hover,
.alert-secondary a:focus {
  color: #001f37;
}

.bp-alert-success,
.alert-success {
  background-color: #cbe4c0;
  border-color: #96c981;
  color: #15230f;
}
.bp-alert-success a,
.alert-success a {
  color: #15230f;
}
.bp-alert-success a:hover, .bp-alert-success a:focus,
.alert-success a:hover,
.alert-success a:focus {
  color: #406a2e;
}

.bp-alert-danger,
.alert-danger {
  background-color: #f8c1c0;
  border-color: #f18281;
  color: #380706;
}
.bp-alert-danger a,
.alert-danger a {
  color: #380706;
}
.bp-alert-danger a:hover, .bp-alert-danger a:focus,
.alert-danger a:hover,
.alert-danger a:focus {
  color: #a71413;
}

.bp-alert-warning,
.alert-warning {
  background-color: #fdecb2;
  border-color: #fbda66;
  color: #372c02;
}
.bp-alert-warning a,
.alert-warning a {
  color: #372c02;
}
.bp-alert-warning a:hover, .bp-alert-warning a:focus,
.alert-warning a:hover,
.alert-warning a:focus {
  color: #a68305;
}

.bp-alert-info,
.alert-info {
  background-color: #a8e8ee;
  border-color: #50d1de;
  color: #072124;
}
.bp-alert-info a,
.alert-info a {
  color: #072124;
}
.bp-alert-info a:hover, .bp-alert-info a:focus,
.alert-info a:hover,
.alert-info a:focus {
  color: #14646b;
}

.bp-alert-light,
.alert-light {
  background-color: #faf9f8;
  border-color: #f5f4f1;
  color: #383227;
}
.bp-alert-light a,
.alert-light a {
  color: #383227;
}
.bp-alert-light a:hover, .bp-alert-light a:focus,
.alert-light a:hover,
.alert-light a:focus {
  color: #a3957b;
}

.bp-alert-dark,
.alert-dark {
  background-color: #b8b8b8;
  border-color: #707070;
  color: #0a0a0a;
}
.bp-alert-dark a,
.alert-dark a {
  color: #0a0a0a;
}
.bp-alert-dark a:hover, .bp-alert-dark a:focus,
.alert-dark a:hover,
.alert-dark a:focus {
  color: #1f1f1f;
}

/** 
* end alerts component
**/
/** 
* accordion component
**/
.accordion .card-header, .bp-accordion .card-header {
  background-color: white;
  -webkit-box-shadow: 0 0px 10px #E6E6E6;
          box-shadow: 0 0px 10px #E6E6E6;
  padding: 0;
}
.accordion .card-header h2, .bp-accordion .card-header h2 {
  padding: 0;
  font-size: 1.25rem;
  text-decoration: none;
}
.accordion .card-header button, .bp-accordion .card-header button {
  color: #0079C0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1rem;
  text-decoration: none;
}
.accordion .card-header button:hover, .accordion .card-header button:focus, .bp-accordion .card-header button:hover, .bp-accordion .card-header button:focus {
  background-color: #002949;
  color: #fff;
  text-decoration: none;
}

/** 
* end accordion component
**/
/**
* Breadcrumb component
*/
.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}
.breadcrumb .breadcrumb-item a {
  color: #0079C0;
  font-weight: 500;
  text-decoration: underline;
}
.breadcrumb .breadcrumb-item a:hover, .breadcrumb .breadcrumb-item a:focus {
  color: #002949;
}
.breadcrumb .breadcrumb-item.activeEnrollment, .breadcrumb .breadcrumb-item .activeEnrollment, .breadcrumb .breadcrumb-item.active {
  color: #00335B;
}

/** 
* buttons component
**/
/** definicion de boton **/
.btn,
.bp-btn {
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  text-decoration: none;
  color: #0079C0;
  border: 0;
  background-color: transparent;
}
.btn:visited,
.bp-btn:visited {
  color: #0079C0;
}
.btn:hover:not([disabled]), .btn:focus:not([disabled]), .btn.active:not([disabled]),
.bp-btn:hover:not([disabled]),
.bp-btn:focus:not([disabled]),
.bp-btn.active:not([disabled]) {
  background-color: #002949;
  color: #fff;
  text-decoration: none;
}
.btn:disabled, .btn.disabled,
.bp-btn:disabled,
.bp-btn.disabled {
  opacity: 0.65;
  cursor: default;
  pointer-events: none;
}

.btn-icon,
.bp-btn-icon {
  padding: 1rem;
  border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  -ms-border-radius: 0.25rem;
  -o-border-radius: 0.25rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.875rem;
  text-decoration: none;
  color: #0079C0;
  border: 0;
  background-color: transparent;
}
.btn-icon:visited,
.bp-btn-icon:visited {
  color: #0079C0;
}
.btn-icon:hover:not([disabled]), .btn-icon:focus:not([disabled]), .btn-icon.active:not([disabled]),
.bp-btn-icon:hover:not([disabled]),
.bp-btn-icon:focus:not([disabled]),
.bp-btn-icon.active:not([disabled]) {
  background-color: #002949;
  color: #fff;
  text-decoration: none;
}

/** end definicion de boton **/
/**
* Variaciones - Estilos de boton 
***/
/**
 * 1. btn primary and secondary 
**/
.btn-primary,
.bp-btn-primary {
  background-color: #0079C0;
  color: #fff;
  border: 0;
}
.btn-primary:visited,
.bp-btn-primary:visited {
  color: #fff;
}

.btn-secondary,
.bp-btn-secondary {
  background-color: #00335B;
  color: #fff;
  border: 0;
}
.btn-secondary:visited,
.bp-btn-secondary:visited {
  color: #fff;
}

/** important **/
.btn-primary--important,
.bp-btn-primary--important {
  background-color: #0079C0 !important;
  color: #fff !important;
}
.btn-primary--important:hover:not([disabled]), .btn-primary--important:focus:not([disabled]), .btn-primary--important.active:not([disabled]),
.bp-btn-primary--important:hover:not([disabled]),
.bp-btn-primary--important:focus:not([disabled]),
.bp-btn-primary--important.active:not([disabled]) {
  background-color: #002949 !important;
  color: #fff !important;
  text-decoration: none !important;
}

.btn-secondary--important,
.bp-btn-secondary--important {
  background-color: #00335B !important;
  color: #fff !important;
}
.btn-secondary--important:hover:not([disabled]), .btn-secondary--important:focus:not([disabled]), .btn-secondary--important.active:not([disabled]),
.bp-btn-secondary--important:hover:not([disabled]),
.bp-btn-secondary--important:focus:not([disabled]),
.bp-btn-secondary--important.active:not([disabled]) {
  background-color: #002949 !important;
  color: #fff !important;
  text-decoration: none !important;
}

/** end important **/
/** end btn primary and secondary **/
/**
 * 2.btn outline primary and secondary
**/
.btn-outline-primary,
.bp-btn-outline-primary {
  background-color: transparent;
  color: #0079C0;
  border: 2px solid #0079C0;
}
.btn-outline-primary:visited,
.bp-btn-outline-primary:visited {
  color: #0079C0;
}
.btn-outline-primary:hover, .btn-outline-primary:focus,
.bp-btn-outline-primary:hover,
.bp-btn-outline-primary:focus {
  border-color: #002949;
}

.btn-outline-secondary,
.bp-btn-outline-secondary {
  background-color: transparent;
  color: #00548C;
  border: 2px solid #00548C;
}
.btn-outline-secondary:visited,
.bp-btn-outline-secondary:visited {
  color: #00548C;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus,
.bp-btn-outline-secondary:hover,
.bp-btn-outline-secondary:focus {
  border-color: #002949;
}

/** important **/
.btn-outline-primary--important,
.bp-btn-outline-primary--important {
  background-color: transparent !important;
  color: #0079C0 !important;
  border: 2px solid #0079C0 !important;
}
.btn-outline-primary--important:hover, .btn-outline-primary--important:focus,
.bp-btn-outline-primary--important:hover,
.bp-btn-outline-primary--important:focus {
  background-color: #002949 !important;
  border-color: #002949 !important;
  color: #fff !important;
}

.btn-outline-secondary--important,
.bp-btn-outline-secondary--important {
  background-color: transparent;
  color: #00548C !important;
  border: 2px solid #00548C !important;
}
.btn-outline-secondary--important:visited,
.bp-btn-outline-secondary--important:visited {
  color: #00548C !important;
}
.btn-outline-secondary--important:hover, .btn-outline-secondary--important:focus,
.bp-btn-outline-secondary--important:hover,
.bp-btn-outline-secondary--important:focus {
  background-color: #002949 !important;
  border-color: #002949 !important;
  color: #fff !important;
}

/** end important **/
/** end btn outline primary and secondary **/
/**
* 3. Link
**/
.btn-link,
.bp-btn-link {
  color: #0079C0;
  text-decoration: underline;
}
.btn-link:visited,
.bp-btn-link:visited {
  color: #0079C0;
}
.btn-link:hover:not([disabled]), .btn-link:focus:not([disabled]),
.bp-btn-link:hover:not([disabled]),
.bp-btn-link:focus:not([disabled]) {
  background-color: transparent;
  color: #002949;
  text-decoration: underline;
}

/** end btn link **/
/** btn elininar **/
.btn-danger {
  color: #eb4d4b;
}

/**
* Btn Group Icon + Text
*/
.btn-group-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.5rem;
}

/** end Group Icon + Text **/
/** utilities bootstrap**/
.bp-btn-block, .btn-block {
  width: 100%;
  display: block;
}

.bp-btn-lg, .btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

/** end utilities bootstrap**/
/** 
* end buttons component
**/
/** 
* dropdowns component
**/
.dropdown-menu .dropdown-item {
  text-decoration: none;
  color: #333333;
  font-size: 0.875rem;
}
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus {
  background-color: #002949;
  color: #fff;
}

/** 
* end dropdowns component
**/
/** 
* Forms components 
**/
label {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: bold;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-control,
.custom-select {
  display: block;
  color: #919295;
  font-size: 0.875rem;
  border-radius: 0.25rem 0.25rem 0 0;
  -webkit-border-radius: 0.25rem 0.25rem 0 0;
  -moz-border-radius: 0.25rem 0.25rem 0 0;
  -ms-border-radius: 0.25rem 0.25rem 0 0;
  -o-border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  border-bottom: 2px solid #DADBDB;
  padding: 0.5rem;
  height: 2.5rem;
}

.form-control:focus,
.form-control-focus,
input[type=text]:focus,
input[type=tel]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
.custom-select:focus {
  background-color: #ECF6FF;
  border-color: #0079C0;
  color: #333333;
  outline: 1px solid #BFDDF1;
}

input[type=text]:-moz-read-only, input[type=tel]:-moz-read-only, input[type=email]:-moz-read-only, input[type=number]:-moz-read-only, input[type=url]:-moz-read-only, input[type=password]:-moz-read-only, input[type=search]:-moz-read-only {
  background-color: #dde5ec;
  color: #919295;
}

.form-control[readonly],
.form-control-readonly,
input[type=text]:read-only,
input[type=text][readonly],
input[type=tel]:read-only,
input[type=tel][readonly],
input[type=email]:read-only,
input[type=email][readonly],
input[type=number]:read-only,
input[type=number][readonly],
input[type=url]:read-only,
input[type=url][readonly],
input[type=password]:read-only,
input[type=password][readonly],
input[type=search]:read-only,
input[type=search][readonly],
.custom-select[readonly] {
  background-color: #dde5ec;
  color: #919295;
}

.form-control:disabled,
.form-control[disabled],
.form-control-disabled,
input[type=text]:disabled,
input[type=text][disabled],
input[type=tel]:disabled,
input[type=tel][disabled],
input[type=email]:disabled,
input[type=email][disabled],
input[type=number]:disabled,
input[type=number][disabled],
input[type=url]:disabled,
input[type=url][disabled],
input[type=password]:disabled,
input[type=password][disabled],
input[type=search]:disabled,
input[type=search][disabled],
.custom-select:disabled,
.custom-select[disabled] {
  background-color: #F1EFEB;
  color: #919295;
}

.form-control-plaintext, input[type=text].form-control-plaintext[readonly],
input[type=tel].form-control-plaintext[readonly],
input[type=email].form-control-plaintext[readonly],
input[type=number].form-control-plaintext[readonly],
input[type=url].form-control-plaintext[readonly],
input[type=password].form-control-plaintext[readonly],
input[type=search].form-control-plaintext[readonly] {
  display: block;
  color: #919295;
  font-size: 0.875rem;
  border-radius: 0.25rem 0.25rem 0 0;
  -webkit-border-radius: 0.25rem 0.25rem 0 0;
  -moz-border-radius: 0.25rem 0.25rem 0 0;
  -ms-border-radius: 0.25rem 0.25rem 0 0;
  -o-border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  height: 2.5rem;
  background-color: transparent;
  /*border-bottom: 2px solid $color_grey-medium;*/
}
.form-control-plaintext:focus, input[type=text].form-control-plaintext[readonly]:focus,
input[type=tel].form-control-plaintext[readonly]:focus,
input[type=email].form-control-plaintext[readonly]:focus,
input[type=number].form-control-plaintext[readonly]:focus,
input[type=url].form-control-plaintext[readonly]:focus,
input[type=password].form-control-plaintext[readonly]:focus,
input[type=search].form-control-plaintext[readonly]:focus {
  outline-color: #BFDDF1;
  border-color: #0079C0;
}

.custom-select-plaintext {
  display: block;
  color: #919295;
  font-size: 0.875rem;
  border-radius: 0.25rem 0.25rem 0 0;
  -webkit-border-radius: 0.25rem 0.25rem 0 0;
  -moz-border-radius: 0.25rem 0.25rem 0 0;
  -ms-border-radius: 0.25rem 0.25rem 0 0;
  -o-border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  background-color: transparent;
  /*  border-bottom: 2px solid $color_grey-medium;*/
}
.custom-select-plaintext:focus {
  outline-color: #BFDDF1;
  border-color: #0079C0;
}

/** form horizontal **/
.col-form-label {
  height: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/** end form horizontal **/
/** ng select **/
.ng-select.form-control {
  padding: 0;
  height: auto;
  display: block;
  color: #919295;
  font-size: 0.875rem;
  border-radius: 0.25rem 0.25rem 0 0;
  -webkit-border-radius: 0.25rem 0.25rem 0 0;
  -moz-border-radius: 0.25rem 0.25rem 0 0;
  -ms-border-radius: 0.25rem 0.25rem 0 0;
  -o-border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  border-bottom: 2px solid #919295;
  height: 2.5rem;
}
.ng-select.ng-select-focused {
  background-color: #ECF6FF;
  border-color: #0079C0;
  color: #333333;
  outline: 1px solid #BFDDF1;
}
.ng-select .ng-select-container {
  padding: 0.5rem;
}
.ng-select .ng-select-container .ng-value-container {
  padding-top: 0;
}
.ng-select .ng-select-container .ng-value-container .ng-input > input {
  height: auto;
  padding: 0;
  padding-left: 0.5rem;
}
.ng-select .ng-select-container .ng-value-container .ng-value {
  padding: 0;
}

/** end ng select **/
/*** datepicker ***/
.ig-date-picker .input-group .form-control {
  display: block;
  color: #919295;
  font-size: 0.875rem;
  border-radius: 0.25rem 0.25rem 0 0;
  -webkit-border-radius: 0.25rem 0.25rem 0 0;
  -moz-border-radius: 0.25rem 0.25rem 0 0;
  -ms-border-radius: 0.25rem 0.25rem 0 0;
  -o-border-radius: 0.25rem 0.25rem 0 0;
  border: none;
  border-bottom: 2px solid #919295;
  padding: 0.5rem;
  height: 2.5rem;
}
.ig-date-picker .input-group .form-control:focus {
  background-color: #ECF6FF;
  border-color: #0079C0;
  color: #333333;
  outline: 1px solid #BFDDF1;
}

.form-check {
  margin-bottom: 0.5rem;
}

.form-group .form-check-label {
  font-weight: 500;
}

/** 
* section component
**/
/** section **/
.bp-section {
  padding: 1.5rem;
  border-radius: 0.5rem;
  background-color: #fff;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

.bp-section_shadow {
  -webkit-box-shadow: 0 0px 10px #E6E6E6;
          box-shadow: 0 0px 10px #E6E6E6;
}

.bp-section_shadow--2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bp-section_shadow--strong {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bp-section_border {
  border: 1px solid #E6E6E6;
}

/** end section **/
/*** background color section ***/
.bp-bg_white {
  background-color: #fff;
}

.bp-bg_cyan-25 {
  background-color: #BFDDF1;
}

.bp-bg_cyan-50 {
  background-color: #7FBCE3;
}

.bp-bg_cyan-table {
  background-color: #F5FAFF;
}

.bp-bg_cyan-light {
  background-color: #ECF6FF;
}

.bp-bg_grey-dark {
  background-color: #333333;
}

.bp-bg_grey-light {
  background-color: #F1EFEB;
}

.bp-bg-white--opacity {
  background-color: rgba(255, 255, 255, 0.65);
}

/*** end background color section ***/
/** 
* end section component
**/
/** 
* tables component
**/
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #F5FAFF;
}

.table-hover tbody tr:hover {
  color: #00335B;
  background-color: #F5FAFF;
}

.table thead tr th {
  border-collapse: collapse;
  background-color: #0079C0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: bold;
  vertical-align: middle;
  border-right: 0px solid #fff;
  border-top: 0;
  border-bottom: 0;
}

/** 
* end tables component
**/
/*** wizzard  ***/
.wizzard-container {
  text-align: center;
}

.wizzard-steps {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  overflow-x: auto;
  font-size: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /** step active **/
  /** end step active **/
  /** step error **/
  /** end step error **/
  /** step success **/
  /** end step success **/
  /** step warning **/
}
.wizzard-steps .wizzard-step {
  margin-bottom: 1rem;
}
.wizzard-steps .wizzard-step:first-child {
  margin-left: 0;
}
.wizzard-steps .wizzard-step:last-child {
  margin-right: auto;
}
.wizzard-steps .wizzard-step:first-of-type .step-circle::before {
  display: none;
}
.wizzard-steps .wizzard-step:last-of-type .step-content {
  padding-right: 0;
}
.wizzard-steps .wizzard-step-content {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 10rem;
  min-width: 10rem;
  max-width: 10rem;
  padding-top: 0.5rem;
  padding-right: 1rem;
  text-align: center;
}
.wizzard-steps .wizzard-step-content .step-text {
  color: #919295;
  /*word-break: break-all;*/
  margin-top: 0.625rem;
  font-size: 0.85rem;
}
.wizzard-steps .step-circle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2.25rem;
  height: 2.25rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 100%;
  background-color: rgba(0, 51, 91, 0.5);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  font-weight: bold;
}
.wizzard-steps .step-circle::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: -2px;
  width: calc(10rem + 1rem - 2.25rem);
  height: 2px;
  transform: translate(-100%, -50%);
  color: #dde5ec;
  background-color: currentColor;
  -webkit-transform: translate(-100%, -50%);
  -moz-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  -o-transform: translate(-100%, -50%);
}
.wizzard-steps .step-active .step-circle {
  color: #fff;
  background-color: #00548C;
  border-color: #fff;
}
.wizzard-steps .step-active .step-circle::before {
  color: #00335B;
}
.wizzard-steps .step-active .step-text {
  color: #00335B;
}
.wizzard-steps .step-error .step-circle {
  color: #fff;
  background-color: #eb4d4b;
  border-color: #fff;
}
.wizzard-steps .step-error .step-circle::before {
  color: #eb4d4b;
}
.wizzard-steps .step-error .step-text {
  color: #eb4d4b;
}
.wizzard-steps .step-success .step-circle {
  color: #fff;
  background-color: #002949;
  border-color: #fff;
}
.wizzard-steps .step-success .step-circle::before {
  color: #002949;
}
.wizzard-steps .step-success .step-text {
  color: #333333;
}
.wizzard-steps .step-warning .step-circle {
  color: #000;
  background-color: #f9ca24;
  border-color: #fff;
}
.wizzard-steps .step-warning .step-circle::before {
  color: #f9ca24;
}
.wizzard-steps .step-warning .step-text {
  color: #333333;
}

/** end step warning **/
/*** end wizzard  ***/