@charset "UTF-8";
/** font weight thin **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-Thin.eot");
  src: url("../../../fonts/metropolis/Metropolis-Thin.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-Thin.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-Thin.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-ThinItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-ThinItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-ThinItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-ThinItalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight light **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-ExtraLight.eot");
  src: url("../../../fonts/metropolis/Metropolis-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-ExtraLight.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-ExtraLight.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-ExtraLightItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-ExtraLightItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-ExtraLightItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight light **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-Light.eot");
  src: url("../../../fonts/metropolis/Metropolis-Light.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-Light.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-Light.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-LightItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-LightItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-LightItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight regular **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-Regular.eot");
  src: url("../../../fonts/metropolis/Metropolis-Regular.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-Regular.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-Regular.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-RegularItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-RegularItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-RegularItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-RegularItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight medium **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-Medium.eot");
  src: url("../../../fonts/metropolis/Metropolis-Medium.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-Medium.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-Medium.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-MediumItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-MediumItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-MediumItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight semi **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-SemiBold.eot");
  src: url("../../../fonts/metropolis/Metropolis-SemiBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-SemiBold.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-SemiBold.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-SemiBoldItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-SemiBoldItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-SemiBoldItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight bold **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-Bold.eot");
  src: url("../../../fonts/metropolis/Metropolis-Bold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-Bold.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-Bold.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-BoldItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-BoldItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-BoldItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight extra bold **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-ExtraBold.eot");
  src: url("../../../fonts/metropolis/Metropolis-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-ExtraBold.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-ExtraBold.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-ExtraBoldItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-ExtraBoldItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-ExtraBoldItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}
/** end font weight ***/
/** font weight black **/
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-Black.eot");
  src: url("../../../fonts/metropolis/Metropolis-Black.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-Black.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-Black.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Metropolis";
  src: url("../../../fonts/metropolis/Metropolis-BlackItalic.eot");
  src: url("../../../fonts/metropolis/Metropolis-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../../fonts/metropolis/Metropolis-BlackItalic.woff2") format("woff2"), url("../../../fonts/metropolis/Metropolis-BlackItalic.woff") format("woff"), url("../../../fonts/metropolis/Metropolis-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
.font-metropolis {
  font-family: "Metropolis";
}

/** utils font **/
.bp-font-weight-100 {
  font-weight: 100;
}

.bp-font-weight-200 {
  font-weight: 200;
}

.bp-font-weight-300 {
  font-weight: 300;
}

.bp-font-weight-400 {
  font-weight: 400;
}

.bp-font-weight-500 {
  font-weight: 500;
}

.bp-font-weight-600 {
  font-weight: 600;
}

.bp-font-weight-700 {
  font-weight: 700;
}

.bp-font-weight-800 {
  font-weight: 800;
}

.bp-font-weight-900 {
  font-weight: 900;
}

.bp-font-thin {
  font-weight: 100;
}

.bp-font-extra-light {
  font-weight: 200;
}

.bp-font-light {
  font-weight: 300;
}

.bp-font-regular {
  font-weight: 400;
}

.bp-font-medium {
  font-weight: 500;
}

.bp-font-semibold {
  font-weight: 600;
}

.bp-font-bold {
  font-weight: 700;
}

.bp-font-extra-bold {
  font-weight: 800;
}

.bp-font-black {
  font-weight: 900;
}

/* Tags Generals CSS */
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Metropolis";
  color: #212121;
  font-weight: 500;
  line-height: 1.2rem;
}

* {
  font-family: "Metropolis";
  font-weight: 500;
  font-size: 1rem;
}

/** CSS Typography **/
/*****
*** Tipography Size
******/
/** 
* heading typography
  * Heading 1: 30px
 * Heading 2: 26px
 * Heading 3: 22px
 * Heading 4: 18px
 * Heading 5: 16px
 * Heading 6: 14px
**/
h1,
.bp-h1 {
  font-size: 1.875rem;
  color: #212121;
  font-weight: bold;
}

h2,
.bp-h2 {
  font-size: 1.625rem;
  color: #212121;
  font-weight: bold;
}

h3,
.bp-h3 {
  font-size: 1.375rem;
  color: #212121;
  font-weight: bold;
}

h4,
.bp-h4 {
  font-size: 1.125rem;
  color: #212121;
  font-weight: bold;
}

h5,
.bp-h5 {
  font-size: 1rem;
  color: #212121;
  font-weight: bold;
}

h6,
.bp-h6 {
  font-size: 0.875rem;
  color: #212121;
  font-weight: bold;
}

/***  end  heading size **/
/***
** title size 
* [description] Class for title's size.
**/
.title-xxl,
.bp-title-xxl {
  font-size: 2.75rem;
}

.title-xl,
.bp-title-xl {
  font-size: 2.25rem;
}

.title-lg,
.bp-title-lg {
  font-size: 2.125rem;
}

.title-md,
.bp-title-md {
  font-size: 1.875rem;
}

.title-sm,
.bp-title-sm {
  font-size: 1.625rem;
}

.title-xs,
.bp-title-xs {
  font-size: 1.375rem;
}

.title-xxs,
.bp-title-xxs {
  font-size: 1.125rem;
}

.title-xxxs,
.bp-title-xxxs {
  font-size: 1rem;
}

/** end titles size **/
/***
** body size 
* [description] Style for content or long parragraph
**/
.bp-body-xxl {
  font-size: 1.375rem;
  line-height: 1.7875rem;
}

.bp-body-xl {
  font-size: 1.25rem;
  line-height: 1.625rem;
}

.bp-body-lg {
  font-size: 1.125rem;
  line-height: 1.4625rem;
}

.bp-body-md {
  font-size: 1rem;
  line-height: 1.3rem;
}

.bp-body-sm {
  font-size: 0.875rem;
  line-height: 1.1375rem;
}

.bp-body-xs {
  font-size: 0.75rem;
  line-height: 0.975rem;
}

.bp-body-xxs {
  font-size: 0.625rem;
  line-height: 0.8125rem;
}

/** end body size **/
/***
** data size 
* [description] Create class for other sizes
**/
.bp-data-xxl {
  font-size: 1.375rem;
  line-height: 1.65rem;
}

.bp-data-xl {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.bp-data-lg {
  font-size: 1.125rem;
  line-height: 1.35rem;
}

.bp-data-md {
  font-size: 1rem;
  line-height: 1.2rem;
}

.bp-data-sm {
  font-size: 0.875rem;
  line-height: 1.05rem;
}

.bp-data-xs {
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.bp-data-xxs {
  font-size: 0.625rem;
  line-height: 0.75rem;
}

/** end body size **/
/***
** end tipography size 
**/
/** label component **/
label {
  font-size: 1rem;
}

/** end label component **/
/** etiquetas de enlace **/
a {
  color: #0079C8;
  text-decoration: underline;
}
a:hover, a:focus {
  color: #00548C;
}
a:visited {
  color: #00548C;
}

/** end etiquetas de enlace **/
/* elementos de texto html 5*/
mark {
  background-color: #ECF6FF;
}

blockquote {
  padding: 1.5rem;
  background-color: #ECF6FF;
  border: 1px solid #BFDDF1;
}

/** end elementos de texto html 5**/
/*** utilties ***/
/***** end utilities ***/
/** text utiities **/
.bp-text-justify {
  text-align: justify !important;
}

.bp-text-nowrap {
  white-space: nowrap !important;
}

.bp-text-left {
  text-align: left !important;
}

.bp-text-right {
  text-align: right !important;
}

.bp-text-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .bp-text-sm-left {
    text-align: left !important;
  }

  .bp-text-sm-right {
    text-align: right !important;
  }

  .bp-text-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .bp-text-md-left {
    text-align: left !important;
  }

  .bp-text-md-right {
    text-align: right !important;
  }

  .bp-text-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .bp-text-lg-left {
    text-align: left !important;
  }

  .bp-text-lg-right {
    text-align: right !important;
  }

  .bp-text-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .bp-text-xl-left {
    text-align: left !important;
  }

  .bp-text-xl-right {
    text-align: right !important;
  }

  .bp-text-xl-center {
    text-align: center !important;
  }
}
.bp-text-lowercase {
  text-transform: lowercase !important;
}

.bp-text-uppercase {
  text-transform: uppercase !important;
}

.bp-text-capitalize {
  text-transform: capitalize !important;
}

.bp-font-italic {
  font-style: italic !important;
}

/** 
* typography colors
**/
.bp-color-black {
  color: #000;
}

.bp-color-white {
  color: #fff;
}

.bp-color-primary {
  color: #0079C8;
}

.bp-color-secondary {
  color: #00335B;
}

.bp-color-title-1 {
  color: #00335B;
}

.bp-color-title-2 {
  color: #212121;
}

.bp-color-text {
  color: #212121;
}

.bp-color-grey-black {
  color: #212121;
}

.bp-color-grey {
  color: #6C6E71;
}

.bp-color-grey-border {
  color: #6C6E71;
}

.bp-color-text-ok {
  color: #439135;
}

.bp-color-text-info {
  color: #0079C8;
}

.bp-color-text-alert {
  color: #635A15;
}

.bp-color-text-error {
  color: #D81E05;
}

.bp-color-online {
  color: #7ED321;
}

.bp-color-busy {
  color: #FE5000;
}

.bp-color-offline {
  color: #9B9B9B;
}

.bp-color-text-disabled {
  color: #7F99AD;
}

.bp-color-active {
  color: #00548C;
}

.bp-color-facebook {
  color: #3B5998;
}

.bp-color-twitter {
  color: #3ACDFF;
}

.bp-color-linkedin {
  color: #0077B5;
}

.bp-color-youtube {
  color: #CC181E;
}

.bp-color-instagram {
  color: #F00075;
}

.bp-color-google {
  color: #4D8CF5;
}

/*** end typography colors **/
/** end text utilitie **/
.bp-icon {
  font-size: 1rem;
}

.bp-icon-1x {
  font-size: 1rem;
}

.bp-icon-2x {
  font-size: 2rem;
}

.bp-icon-3x {
  font-size: 3rem;
}

.bp-icon-4x {
  font-size: 4rem;
}

.bp-icon-5x {
  font-size: 5rem;
}

.bp-icon-6x {
  font-size: 6rem;
}

.bp-icon-7x {
  font-size: 7rem;
}

.bp-icon-8x {
  font-size: 8rem;
}

.bp-icon-9x {
  font-size: 9rem;
}

.bp-icon-10x {
  font-size: 10rem;
}

.bp-icon-xxxs {
  font-size: 0.5rem;
}

.bp-icon-xxs {
  font-size: 0.675rem;
}

.bp-icon-xs {
  font-size: 0.75rem;
}

.bp-icon-sm {
  font-size: 0.875rem;
}

.bp-icon-lg {
  font-size: 1.25rem;
}

.bp-icon-xl {
  font-size: 1.5rem;
}

/** spacing utilities ***/
.m-0 {
  margin: 0 !important;
}

.mt-0,
.my-0 {
  margin-top: 0 !important;
}

.mr-0,
.mx-0 {
  margin-right: 0 !important;
}

.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}

.ml-0,
.mx-0 {
  margin-left: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}

.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}

.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.mt-3,
.my-3 {
  margin-top: 1rem !important;
}

.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}

.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}

.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}

.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

.mt-5,
.my-5 {
  margin-top: 3rem !important;
}

.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}

.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}

.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.pt-0,
.py-0 {
  padding-top: 0 !important;
}

.pr-0,
.px-0 {
  padding-right: 0 !important;
}

.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}

.pl-0,
.px-0 {
  padding-left: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}

.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}

.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}

.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}

.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}

.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}

.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.pt-3,
.py-3 {
  padding-top: 1rem !important;
}

.pr-3,
.px-3 {
  padding-right: 1rem !important;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}

.pl-3,
.px-3 {
  padding-left: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}

.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}

.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}

.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}

.pt-5,
.py-5 {
  padding-top: 3rem !important;
}

.pr-5,
.px-5 {
  padding-right: 3rem !important;
}

.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}

.pl-5,
.px-5 {
  padding-left: 3rem !important;
}

.m-auto {
  margin: auto !important;
}

.mt-auto,
.my-auto {
  margin-top: auto !important;
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}

.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

@media (min-width: 576px) {
  .m-sm-0 {
    margin: 0 !important;
  }

  .mt-sm-0,
.my-sm-0 {
    margin-top: 0 !important;
  }

  .mr-sm-0,
.mx-sm-0 {
    margin-right: 0 !important;
  }

  .mb-sm-0,
.my-sm-0 {
    margin-bottom: 0 !important;
  }

  .ml-sm-0,
.mx-sm-0 {
    margin-left: 0 !important;
  }

  .m-sm-1 {
    margin: 0.25rem !important;
  }

  .mt-sm-1,
.my-sm-1 {
    margin-top: 0.25rem !important;
  }

  .mr-sm-1,
.mx-sm-1 {
    margin-right: 0.25rem !important;
  }

  .mb-sm-1,
.my-sm-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-sm-1,
.mx-sm-1 {
    margin-left: 0.25rem !important;
  }

  .m-sm-2 {
    margin: 0.5rem !important;
  }

  .mt-sm-2,
.my-sm-2 {
    margin-top: 0.5rem !important;
  }

  .mr-sm-2,
.mx-sm-2 {
    margin-right: 0.5rem !important;
  }

  .mb-sm-2,
.my-sm-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-sm-2,
.mx-sm-2 {
    margin-left: 0.5rem !important;
  }

  .m-sm-3 {
    margin: 1rem !important;
  }

  .mt-sm-3,
.my-sm-3 {
    margin-top: 1rem !important;
  }

  .mr-sm-3,
.mx-sm-3 {
    margin-right: 1rem !important;
  }

  .mb-sm-3,
.my-sm-3 {
    margin-bottom: 1rem !important;
  }

  .ml-sm-3,
.mx-sm-3 {
    margin-left: 1rem !important;
  }

  .m-sm-4 {
    margin: 1.5rem !important;
  }

  .mt-sm-4,
.my-sm-4 {
    margin-top: 1.5rem !important;
  }

  .mr-sm-4,
.mx-sm-4 {
    margin-right: 1.5rem !important;
  }

  .mb-sm-4,
.my-sm-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-sm-4,
.mx-sm-4 {
    margin-left: 1.5rem !important;
  }

  .m-sm-5 {
    margin: 3rem !important;
  }

  .mt-sm-5,
.my-sm-5 {
    margin-top: 3rem !important;
  }

  .mr-sm-5,
.mx-sm-5 {
    margin-right: 3rem !important;
  }

  .mb-sm-5,
.my-sm-5 {
    margin-bottom: 3rem !important;
  }

  .ml-sm-5,
.mx-sm-5 {
    margin-left: 3rem !important;
  }

  .p-sm-0 {
    padding: 0 !important;
  }

  .pt-sm-0,
.py-sm-0 {
    padding-top: 0 !important;
  }

  .pr-sm-0,
.px-sm-0 {
    padding-right: 0 !important;
  }

  .pb-sm-0,
.py-sm-0 {
    padding-bottom: 0 !important;
  }

  .pl-sm-0,
.px-sm-0 {
    padding-left: 0 !important;
  }

  .p-sm-1 {
    padding: 0.25rem !important;
  }

  .pt-sm-1,
.py-sm-1 {
    padding-top: 0.25rem !important;
  }

  .pr-sm-1,
.px-sm-1 {
    padding-right: 0.25rem !important;
  }

  .pb-sm-1,
.py-sm-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-sm-1,
.px-sm-1 {
    padding-left: 0.25rem !important;
  }

  .p-sm-2 {
    padding: 0.5rem !important;
  }

  .pt-sm-2,
.py-sm-2 {
    padding-top: 0.5rem !important;
  }

  .pr-sm-2,
.px-sm-2 {
    padding-right: 0.5rem !important;
  }

  .pb-sm-2,
.py-sm-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-sm-2,
.px-sm-2 {
    padding-left: 0.5rem !important;
  }

  .p-sm-3 {
    padding: 1rem !important;
  }

  .pt-sm-3,
.py-sm-3 {
    padding-top: 1rem !important;
  }

  .pr-sm-3,
.px-sm-3 {
    padding-right: 1rem !important;
  }

  .pb-sm-3,
.py-sm-3 {
    padding-bottom: 1rem !important;
  }

  .pl-sm-3,
.px-sm-3 {
    padding-left: 1rem !important;
  }

  .p-sm-4 {
    padding: 1.5rem !important;
  }

  .pt-sm-4,
.py-sm-4 {
    padding-top: 1.5rem !important;
  }

  .pr-sm-4,
.px-sm-4 {
    padding-right: 1.5rem !important;
  }

  .pb-sm-4,
.py-sm-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-sm-4,
.px-sm-4 {
    padding-left: 1.5rem !important;
  }

  .p-sm-5 {
    padding: 3rem !important;
  }

  .pt-sm-5,
.py-sm-5 {
    padding-top: 3rem !important;
  }

  .pr-sm-5,
.px-sm-5 {
    padding-right: 3rem !important;
  }

  .pb-sm-5,
.py-sm-5 {
    padding-bottom: 3rem !important;
  }

  .pl-sm-5,
.px-sm-5 {
    padding-left: 3rem !important;
  }

  .m-sm-auto {
    margin: auto !important;
  }

  .mt-sm-auto,
.my-sm-auto {
    margin-top: auto !important;
  }

  .mr-sm-auto,
.mx-sm-auto {
    margin-right: auto !important;
  }

  .mb-sm-auto,
.my-sm-auto {
    margin-bottom: auto !important;
  }

  .ml-sm-auto,
.mx-sm-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0 !important;
  }

  .mt-md-0,
.my-md-0 {
    margin-top: 0 !important;
  }

  .mr-md-0,
.mx-md-0 {
    margin-right: 0 !important;
  }

  .mb-md-0,
.my-md-0 {
    margin-bottom: 0 !important;
  }

  .ml-md-0,
.mx-md-0 {
    margin-left: 0 !important;
  }

  .m-md-1 {
    margin: 0.25rem !important;
  }

  .mt-md-1,
.my-md-1 {
    margin-top: 0.25rem !important;
  }

  .mr-md-1,
.mx-md-1 {
    margin-right: 0.25rem !important;
  }

  .mb-md-1,
.my-md-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-md-1,
.mx-md-1 {
    margin-left: 0.25rem !important;
  }

  .m-md-2 {
    margin: 0.5rem !important;
  }

  .mt-md-2,
.my-md-2 {
    margin-top: 0.5rem !important;
  }

  .mr-md-2,
.mx-md-2 {
    margin-right: 0.5rem !important;
  }

  .mb-md-2,
.my-md-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-md-2,
.mx-md-2 {
    margin-left: 0.5rem !important;
  }

  .m-md-3 {
    margin: 1rem !important;
  }

  .mt-md-3,
.my-md-3 {
    margin-top: 1rem !important;
  }

  .mr-md-3,
.mx-md-3 {
    margin-right: 1rem !important;
  }

  .mb-md-3,
.my-md-3 {
    margin-bottom: 1rem !important;
  }

  .ml-md-3,
.mx-md-3 {
    margin-left: 1rem !important;
  }

  .m-md-4 {
    margin: 1.5rem !important;
  }

  .mt-md-4,
.my-md-4 {
    margin-top: 1.5rem !important;
  }

  .mr-md-4,
.mx-md-4 {
    margin-right: 1.5rem !important;
  }

  .mb-md-4,
.my-md-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-md-4,
.mx-md-4 {
    margin-left: 1.5rem !important;
  }

  .m-md-5 {
    margin: 3rem !important;
  }

  .mt-md-5,
.my-md-5 {
    margin-top: 3rem !important;
  }

  .mr-md-5,
.mx-md-5 {
    margin-right: 3rem !important;
  }

  .mb-md-5,
.my-md-5 {
    margin-bottom: 3rem !important;
  }

  .ml-md-5,
.mx-md-5 {
    margin-left: 3rem !important;
  }

  .p-md-0 {
    padding: 0 !important;
  }

  .pt-md-0,
.py-md-0 {
    padding-top: 0 !important;
  }

  .pr-md-0,
.px-md-0 {
    padding-right: 0 !important;
  }

  .pb-md-0,
.py-md-0 {
    padding-bottom: 0 !important;
  }

  .pl-md-0,
.px-md-0 {
    padding-left: 0 !important;
  }

  .p-md-1 {
    padding: 0.25rem !important;
  }

  .pt-md-1,
.py-md-1 {
    padding-top: 0.25rem !important;
  }

  .pr-md-1,
.px-md-1 {
    padding-right: 0.25rem !important;
  }

  .pb-md-1,
.py-md-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-md-1,
.px-md-1 {
    padding-left: 0.25rem !important;
  }

  .p-md-2 {
    padding: 0.5rem !important;
  }

  .pt-md-2,
.py-md-2 {
    padding-top: 0.5rem !important;
  }

  .pr-md-2,
.px-md-2 {
    padding-right: 0.5rem !important;
  }

  .pb-md-2,
.py-md-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-md-2,
.px-md-2 {
    padding-left: 0.5rem !important;
  }

  .p-md-3 {
    padding: 1rem !important;
  }

  .pt-md-3,
.py-md-3 {
    padding-top: 1rem !important;
  }

  .pr-md-3,
.px-md-3 {
    padding-right: 1rem !important;
  }

  .pb-md-3,
.py-md-3 {
    padding-bottom: 1rem !important;
  }

  .pl-md-3,
.px-md-3 {
    padding-left: 1rem !important;
  }

  .p-md-4 {
    padding: 1.5rem !important;
  }

  .pt-md-4,
.py-md-4 {
    padding-top: 1.5rem !important;
  }

  .pr-md-4,
.px-md-4 {
    padding-right: 1.5rem !important;
  }

  .pb-md-4,
.py-md-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-md-4,
.px-md-4 {
    padding-left: 1.5rem !important;
  }

  .p-md-5 {
    padding: 3rem !important;
  }

  .pt-md-5,
.py-md-5 {
    padding-top: 3rem !important;
  }

  .pr-md-5,
.px-md-5 {
    padding-right: 3rem !important;
  }

  .pb-md-5,
.py-md-5 {
    padding-bottom: 3rem !important;
  }

  .pl-md-5,
.px-md-5 {
    padding-left: 3rem !important;
  }

  .m-md-auto {
    margin: auto !important;
  }

  .mt-md-auto,
.my-md-auto {
    margin-top: auto !important;
  }

  .mr-md-auto,
.mx-md-auto {
    margin-right: auto !important;
  }

  .mb-md-auto,
.my-md-auto {
    margin-bottom: auto !important;
  }

  .ml-md-auto,
.mx-md-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 992px) {
  .m-lg-0 {
    margin: 0 !important;
  }

  .mt-lg-0,
.my-lg-0 {
    margin-top: 0 !important;
  }

  .mr-lg-0,
.mx-lg-0 {
    margin-right: 0 !important;
  }

  .mb-lg-0,
.my-lg-0 {
    margin-bottom: 0 !important;
  }

  .ml-lg-0,
.mx-lg-0 {
    margin-left: 0 !important;
  }

  .m-lg-1 {
    margin: 0.25rem !important;
  }

  .mt-lg-1,
.my-lg-1 {
    margin-top: 0.25rem !important;
  }

  .mr-lg-1,
.mx-lg-1 {
    margin-right: 0.25rem !important;
  }

  .mb-lg-1,
.my-lg-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-lg-1,
.mx-lg-1 {
    margin-left: 0.25rem !important;
  }

  .m-lg-2 {
    margin: 0.5rem !important;
  }

  .mt-lg-2,
.my-lg-2 {
    margin-top: 0.5rem !important;
  }

  .mr-lg-2,
.mx-lg-2 {
    margin-right: 0.5rem !important;
  }

  .mb-lg-2,
.my-lg-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-lg-2,
.mx-lg-2 {
    margin-left: 0.5rem !important;
  }

  .m-lg-3 {
    margin: 1rem !important;
  }

  .mt-lg-3,
.my-lg-3 {
    margin-top: 1rem !important;
  }

  .mr-lg-3,
.mx-lg-3 {
    margin-right: 1rem !important;
  }

  .mb-lg-3,
.my-lg-3 {
    margin-bottom: 1rem !important;
  }

  .ml-lg-3,
.mx-lg-3 {
    margin-left: 1rem !important;
  }

  .m-lg-4 {
    margin: 1.5rem !important;
  }

  .mt-lg-4,
.my-lg-4 {
    margin-top: 1.5rem !important;
  }

  .mr-lg-4,
.mx-lg-4 {
    margin-right: 1.5rem !important;
  }

  .mb-lg-4,
.my-lg-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-lg-4,
.mx-lg-4 {
    margin-left: 1.5rem !important;
  }

  .m-lg-5 {
    margin: 3rem !important;
  }

  .mt-lg-5,
.my-lg-5 {
    margin-top: 3rem !important;
  }

  .mr-lg-5,
.mx-lg-5 {
    margin-right: 3rem !important;
  }

  .mb-lg-5,
.my-lg-5 {
    margin-bottom: 3rem !important;
  }

  .ml-lg-5,
.mx-lg-5 {
    margin-left: 3rem !important;
  }

  .p-lg-0 {
    padding: 0 !important;
  }

  .pt-lg-0,
.py-lg-0 {
    padding-top: 0 !important;
  }

  .pr-lg-0,
.px-lg-0 {
    padding-right: 0 !important;
  }

  .pb-lg-0,
.py-lg-0 {
    padding-bottom: 0 !important;
  }

  .pl-lg-0,
.px-lg-0 {
    padding-left: 0 !important;
  }

  .p-lg-1 {
    padding: 0.25rem !important;
  }

  .pt-lg-1,
.py-lg-1 {
    padding-top: 0.25rem !important;
  }

  .pr-lg-1,
.px-lg-1 {
    padding-right: 0.25rem !important;
  }

  .pb-lg-1,
.py-lg-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-lg-1,
.px-lg-1 {
    padding-left: 0.25rem !important;
  }

  .p-lg-2 {
    padding: 0.5rem !important;
  }

  .pt-lg-2,
.py-lg-2 {
    padding-top: 0.5rem !important;
  }

  .pr-lg-2,
.px-lg-2 {
    padding-right: 0.5rem !important;
  }

  .pb-lg-2,
.py-lg-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-lg-2,
.px-lg-2 {
    padding-left: 0.5rem !important;
  }

  .p-lg-3 {
    padding: 1rem !important;
  }

  .pt-lg-3,
.py-lg-3 {
    padding-top: 1rem !important;
  }

  .pr-lg-3,
.px-lg-3 {
    padding-right: 1rem !important;
  }

  .pb-lg-3,
.py-lg-3 {
    padding-bottom: 1rem !important;
  }

  .pl-lg-3,
.px-lg-3 {
    padding-left: 1rem !important;
  }

  .p-lg-4 {
    padding: 1.5rem !important;
  }

  .pt-lg-4,
.py-lg-4 {
    padding-top: 1.5rem !important;
  }

  .pr-lg-4,
.px-lg-4 {
    padding-right: 1.5rem !important;
  }

  .pb-lg-4,
.py-lg-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-lg-4,
.px-lg-4 {
    padding-left: 1.5rem !important;
  }

  .p-lg-5 {
    padding: 3rem !important;
  }

  .pt-lg-5,
.py-lg-5 {
    padding-top: 3rem !important;
  }

  .pr-lg-5,
.px-lg-5 {
    padding-right: 3rem !important;
  }

  .pb-lg-5,
.py-lg-5 {
    padding-bottom: 3rem !important;
  }

  .pl-lg-5,
.px-lg-5 {
    padding-left: 3rem !important;
  }

  .m-lg-auto {
    margin: auto !important;
  }

  .mt-lg-auto,
.my-lg-auto {
    margin-top: auto !important;
  }

  .mr-lg-auto,
.mx-lg-auto {
    margin-right: auto !important;
  }

  .mb-lg-auto,
.my-lg-auto {
    margin-bottom: auto !important;
  }

  .ml-lg-auto,
.mx-lg-auto {
    margin-left: auto !important;
  }
}
@media (min-width: 1200px) {
  .m-xl-0 {
    margin: 0 !important;
  }

  .mt-xl-0,
.my-xl-0 {
    margin-top: 0 !important;
  }

  .mr-xl-0,
.mx-xl-0 {
    margin-right: 0 !important;
  }

  .mb-xl-0,
.my-xl-0 {
    margin-bottom: 0 !important;
  }

  .ml-xl-0,
.mx-xl-0 {
    margin-left: 0 !important;
  }

  .m-xl-1 {
    margin: 0.25rem !important;
  }

  .mt-xl-1,
.my-xl-1 {
    margin-top: 0.25rem !important;
  }

  .mr-xl-1,
.mx-xl-1 {
    margin-right: 0.25rem !important;
  }

  .mb-xl-1,
.my-xl-1 {
    margin-bottom: 0.25rem !important;
  }

  .ml-xl-1,
.mx-xl-1 {
    margin-left: 0.25rem !important;
  }

  .m-xl-2 {
    margin: 0.5rem !important;
  }

  .mt-xl-2,
.my-xl-2 {
    margin-top: 0.5rem !important;
  }

  .mr-xl-2,
.mx-xl-2 {
    margin-right: 0.5rem !important;
  }

  .mb-xl-2,
.my-xl-2 {
    margin-bottom: 0.5rem !important;
  }

  .ml-xl-2,
.mx-xl-2 {
    margin-left: 0.5rem !important;
  }

  .m-xl-3 {
    margin: 1rem !important;
  }

  .mt-xl-3,
.my-xl-3 {
    margin-top: 1rem !important;
  }

  .mr-xl-3,
.mx-xl-3 {
    margin-right: 1rem !important;
  }

  .mb-xl-3,
.my-xl-3 {
    margin-bottom: 1rem !important;
  }

  .ml-xl-3,
.mx-xl-3 {
    margin-left: 1rem !important;
  }

  .m-xl-4 {
    margin: 1.5rem !important;
  }

  .mt-xl-4,
.my-xl-4 {
    margin-top: 1.5rem !important;
  }

  .mr-xl-4,
.mx-xl-4 {
    margin-right: 1.5rem !important;
  }

  .mb-xl-4,
.my-xl-4 {
    margin-bottom: 1.5rem !important;
  }

  .ml-xl-4,
.mx-xl-4 {
    margin-left: 1.5rem !important;
  }

  .m-xl-5 {
    margin: 3rem !important;
  }

  .mt-xl-5,
.my-xl-5 {
    margin-top: 3rem !important;
  }

  .mr-xl-5,
.mx-xl-5 {
    margin-right: 3rem !important;
  }

  .mb-xl-5,
.my-xl-5 {
    margin-bottom: 3rem !important;
  }

  .ml-xl-5,
.mx-xl-5 {
    margin-left: 3rem !important;
  }

  .p-xl-0 {
    padding: 0 !important;
  }

  .pt-xl-0,
.py-xl-0 {
    padding-top: 0 !important;
  }

  .pr-xl-0,
.px-xl-0 {
    padding-right: 0 !important;
  }

  .pb-xl-0,
.py-xl-0 {
    padding-bottom: 0 !important;
  }

  .pl-xl-0,
.px-xl-0 {
    padding-left: 0 !important;
  }

  .p-xl-1 {
    padding: 0.25rem !important;
  }

  .pt-xl-1,
.py-xl-1 {
    padding-top: 0.25rem !important;
  }

  .pr-xl-1,
.px-xl-1 {
    padding-right: 0.25rem !important;
  }

  .pb-xl-1,
.py-xl-1 {
    padding-bottom: 0.25rem !important;
  }

  .pl-xl-1,
.px-xl-1 {
    padding-left: 0.25rem !important;
  }

  .p-xl-2 {
    padding: 0.5rem !important;
  }

  .pt-xl-2,
.py-xl-2 {
    padding-top: 0.5rem !important;
  }

  .pr-xl-2,
.px-xl-2 {
    padding-right: 0.5rem !important;
  }

  .pb-xl-2,
.py-xl-2 {
    padding-bottom: 0.5rem !important;
  }

  .pl-xl-2,
.px-xl-2 {
    padding-left: 0.5rem !important;
  }

  .p-xl-3 {
    padding: 1rem !important;
  }

  .pt-xl-3,
.py-xl-3 {
    padding-top: 1rem !important;
  }

  .pr-xl-3,
.px-xl-3 {
    padding-right: 1rem !important;
  }

  .pb-xl-3,
.py-xl-3 {
    padding-bottom: 1rem !important;
  }

  .pl-xl-3,
.px-xl-3 {
    padding-left: 1rem !important;
  }

  .p-xl-4 {
    padding: 1.5rem !important;
  }

  .pt-xl-4,
.py-xl-4 {
    padding-top: 1.5rem !important;
  }

  .pr-xl-4,
.px-xl-4 {
    padding-right: 1.5rem !important;
  }

  .pb-xl-4,
.py-xl-4 {
    padding-bottom: 1.5rem !important;
  }

  .pl-xl-4,
.px-xl-4 {
    padding-left: 1.5rem !important;
  }

  .p-xl-5 {
    padding: 3rem !important;
  }

  .pt-xl-5,
.py-xl-5 {
    padding-top: 3rem !important;
  }

  .pr-xl-5,
.px-xl-5 {
    padding-right: 3rem !important;
  }

  .pb-xl-5,
.py-xl-5 {
    padding-bottom: 3rem !important;
  }

  .pl-xl-5,
.px-xl-5 {
    padding-left: 3rem !important;
  }

  .m-xl-auto {
    margin: auto !important;
  }

  .mt-xl-auto,
.my-xl-auto {
    margin-top: auto !important;
  }

  .mr-xl-auto,
.mx-xl-auto {
    margin-right: auto !important;
  }

  .mb-xl-auto,
.my-xl-auto {
    margin-bottom: auto !important;
  }

  .ml-xl-auto,
.mx-xl-auto {
    margin-left: auto !important;
  }
}
/** end spacing utilities ***/
/** 
* border colors
**/
.bp-border {
  border: 1px solid #D9D9D9;
}

.bp-border-top {
  border-top: 1px solid #D9D9D9;
}

.bp-border-bottom {
  border-bottom: 1px solid #D9D9D9;
}

.bp-borde-left {
  border-left: 1px solid #D9D9D9;
}

.bp-border-right {
  border: 1px solid #D9D9D9;
}

.bp-border {
  border: 1px solid #D9D9D9;
}

.bp-border-0 {
  border: 0 !important;
}

.bp-border-top-0 {
  border-top: 0 !important;
}

.bp-border-right-0 {
  border-right: 0 !important;
}

.bp-border-bottom-0 {
  border-bottom: 0 !important;
}

.bp-border-left-0 {
  border-left: 0 !important;
}

.bp-border-color-black {
  border-color: #000;
}

.bp-border-color-white {
  border-color: #fff;
}

.bp-border-color-primary {
  border-color: #0079C8;
}

.bp-border-color-secondary {
  border-color: #00335B;
}

.bp-border-color-grey-border {
  border-color: #D9D9D9;
}

.bp-border-color-grey-black {
  border-color: #212121;
}

.bp-border-color-grey {
  border-color: #6C6E71;
}

.bp-border-color-ok {
  border-color: #439135;
}

.bp-border-color-info {
  border-color: #0079C8;
}

.bp-border-color-alert {
  border-color: #635A15;
}

.bp-border-color-error {
  border-color: #D81E05;
}

.bp-border-color-online {
  border-color: #7ED321;
}

.bp-border-color-busy {
  border-color: #FE5000;
}

.bp-border-color-offline {
  border-color: #9B9B9B;
}

.bp-border-color-disabled {
  border-color: #BFCCD6;
}

.bp-border-color-active {
  border-color: #00548C;
}

.bp-border-color {
  border: 1px solid #D9D9D9;
}

.bp-border-width--1px {
  border-width: 1px;
}

.bp-border-width--1px--important {
  border-width: 1px !important;
}

.bp-border-width--2px {
  border-width: 2px;
}

.bp-border-width--2px--important {
  border-width: 2px !important;
}

.bp-border-width--3px {
  border-width: 3px;
}

.bp-border-width--3px--important {
  border-width: 3px !important;
}

.bp-border-width--4px {
  border-width: 4px;
}

.bp-border-width--4px--important {
  border-width: 4px !important;
}

.bp-border-width--5px {
  border-width: 5px;
}

.bp-border-width--5px--important {
  border-width: 5px !important;
}

/** 
* end border colors
**/
/*** utilidades de css **/
@media screen and (min-width: 1200px) {
  .maxwidth-1200 {
    max-width: 1200px;
  }
}
.maxwidth-90p {
  max-width: 90%;
}

.maxwidth-240 {
  max-width: 240px;
}

.maxwidth-160 {
  max-width: 160px;
}

.mw-100 {
  max-width: 100% !important;
}

.mh-100 {
  max-height: 100% !important;
}

/** extra css **/
.overflow-visible {
  overflow: visible;
}

/** end utilidades de css **/
/** 
* container component
**/
/** section **/
.bp-section {
  padding: 1.5rem;
  background-color: #fff;
}

.bp-section-shadow {
  -webkit-box-shadow: 0 0px 10px #E6E6E6;
          box-shadow: 0 0px 10px #E6E6E6;
}

.bp-section-shadow--2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bp-section-shadow--strong {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bp-section-border {
  border: 1px solid #D9D9D9;
}

.bp-section-radius {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}

/** end section **/
/*** background color section ***/
.bp-bg-info {
  background-color: #DBF1FA;
}

.bp-bg-info--important {
  background-color: #DBF1FA !important;
}

.bp-bg-alert {
  background-color: #EFFFDA;
}

.bp-bg-alert--important {
  background-color: #EFFFDA !important;
}

.bp-bg-ok {
  background-color: #EFFFDA;
}

.bp-bg-ok--important {
  background-color: #EFFFDA !important;
}

.bp-bg-error {
  background-color: #FCF1F0;
}

.bp-bg-error--important {
  background-color: #FCF1F0 !important;
}

.bp-bg-disabled {
  background-color: #F2F5F7;
}

.bp-bg-disabled--important {
  background-color: #F2F5F7 !important;
}

.bp-bg-white {
  background-color: #fff;
}

.bp-bg-white--important {
  background-color: #fff !important;
}

.bp-bg-selected-area {
  background-color: #ECF6FF;
}

.bp-bg-selected-area--important {
  background-color: #ECF6FF !important;
}

.bp-bg-table {
  background-color: #F5FAFF;
}

.bp-bg-table--important {
  background-color: #F5FAFF !important;
}

.bp-bg-table-hover {
  background-color: #BFDDF1;
}

.bp-bg-table-hover--important {
  background-color: #BFDDF1 !important;
}

.bp-bg-cyan-05 {
  background-color: #F2F8FC;
}

.bp-bg-cyan-05--important {
  background-color: #F2F8FC !important;
}

.bp-bg-cyan-10 {
  background-color: #E6F2FA;
}

.bp-bg-cyan-10--important {
  background-color: #E6F2FA !important;
}

.bp-bg-cyan-25 {
  background-color: #BFDDF1;
}

.bp-bg-cyan-25--important {
  background-color: #BFDDF1 !important;
}

.bp-bg-cyan-50 {
  background-color: #7FBCE3;
}

.bp-bg-cyan-50--important {
  background-color: #7FBCE3 !important;
}

.bp-bg-grey-light {
  background-color: #F2F2F2;
}

.bp-bg-grey-light--important {
  background-color: #F2F2F2 !important;
}

.bp-bg-grey-light-1 {
  background-color: #E6E6E6;
}

.bp-bg-grey-light-1--important {
  background-color: #E6E6E6 !important;
}

.bp-bg-grey-light-2 {
  background-color: #F0F0F0;
}

.bp-bg-grey-light-2--important {
  background-color: #F0F0F0 !important;
}

.bp-bg-grey-light-3 {
  background-color: #F5F5F5;
}

.bp-bg-grey-light-3--important {
  background-color: #F5F5F5 !important;
}

.bp-bg-warm-grey {
  background-color: #F1EFEB;
}

.bp-bg-warm-grey--important {
  background-color: #F1EFEB !important;
}

/*** end background color section ***/
/** 
* end section component
**/
/***
** Sistema de diseño de Sanitas
****/